.wishlistPage {
    ion-content {
        background-color: #E5E5E5 !important;
    }

    ion-title {
      width: 150px;
      position: absolute;
      left: 0;
      top: 18%;
      right: 0;
      margin-left: auto;
      margin-right: auto;
    }

    .bar-button-menutoggle-ios {
        padding: 0 25px 25px 25px;
      }
    .margin {
        margin: 5px;
        h2 {
            margin: 60px 18px;
            font-size: 14px;
            color: #666;
            font-weight: 600;
            text-align: center;
            text-transform: uppercase;
        }
    }
    h2 {
        margin-left: 16px;
    }
    h3 {
        margin-left: 16px;
    }
    .item ion-thumbnail {
        min-width: 5.6rem;
        min-height: 5.6rem;
        width: 10rem;
        height: 10rem;
        margin: 0 16px 0 0;
    }
    .item ion-thumbnail img {
        max-width: 10rem;
        max-height: 10rem;
        width: 10rem;
        height: 10rem;
        border-radius: 10px;
    }
    .col {
        padding: 0;
    }
    .item [item-left], .item [item-right] {
        margin: 0;
    }
    ion-label {
        margin: 0;
    }
    .wish-list {
        -webkit-box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.06);
        background: #FFFFFF;
        box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.06);
        border-radius: 10px;
        margin: 10px;
        h2 {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .item-ios.item-block .item-inner {
            padding-right: 2px;
        }
    }
    .item {
        padding: 6px 0 6px 6px;
    }
    ion-icon {
        font-size: 1.3em;
        margin: 5px;
    }
}
.button {
    height: 2.8em;
    border-radius: 0;
    font-size: 14px;
}
.btn-solicitar{
    background: #76A7AC;
border-radius: 20px!important;
font-size: 12px!important;
}
